* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("hinh-nen-chuc-mung-nam-moi-2021-15-min.jpg") no-repeat;
    background-size: 100% 100%;
}

.header {
    font-size: 40px;
}

.version {
    position: absolute;
    top: 20px;
}
